.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.topbar-heading {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
  background: transparent;
}

.profile-icon{
  height: 40px;
    width: 100%;
    color: #333;
}

/* .login-button {
  padding: 10px 15px;
  background-color: #004998;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #0056b3;
} */

/* Responsive styles */
@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .topbar-heading {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .topbar-right {
    width: 100%;
    justify-content: space-between;
  }
}

